data/*
!data/dataset
data/dataset/*
!data/dataset/config

train/outputs
*/__pycache__
__pycache__
*/.vscode
.vscode
check
visualization/
util
FM-AL/Foundation_models/checkpoints
*.egg*
train/inference_2d.py
train/inference_2d_polyp.py
train/inference_cls.py
train/postprocessing.py
clear_cash.py
download.sh
train/command/run_1
test.py